html, body, header, article, p, aside, footer {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: row wrap;
    /*justify-content: center;*/
    font-weight: bold;
}

header, aside, footer {
    width: 100%;
    text-align: center;
    line-height: 3rem;
}

header {
    background-color: orangered;
}

article {
    background-color: deepskyblue;
}

p {
    padding: 20px 10px;
}

aside:nth-child(3) {
    background-color: yellow;
}

aside:nth-child(4) {
    background-color: hotpink;
}

footer {
    background-color: darkseagreen;
}