html, body, header, section, h1, h2, div, a, main, footer {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cantarell, sans-serif;
    color: white;
    border: 3px solid hotpink;
}

* {
    border: 3px solid hotpink;
}

body {
    background-image: url("background-photo.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

header {
    position: fixed;
    top: 0;
}

#atf {
    margin: auto;
    text-align: center;
}

h1 {
    font-weight: lighter;
}

h2, h3 {
    font-weight: normal;
    font-size: 1rem;
    margin: 20px 0;
}

footer {
    position: fixed;
    bottom: 0;
}

a {
    text-decoration: none;
    padding: 5px;
    border: 1px solid darkseagreen;
    border-radius: 5px;
    font-size: 12px;
    color: lightgreen;
}