header {
    justify-content: space-between;
}

header div, header nav {
    width: 20%;
    height: 2rem;
}

#atf {
    background-image: url("background-photo.jpg");
}

h1 {
    font-size: 2rem;
}

.idx-center-center {
    margin-top: 20px;
}

#idx-center-spacebetween {
    justify-content: center;
}

button {
    margin-top: 40px;
}

h3 {
    margin-top: 0.5rem;
}