header {
    justify-content: space-between;
    height: 2.5rem;
}

header div, header nav {
    display: flex;
}

header div {
    width: 30%
}

header nav {
    width: 25%;
}

header div a {
    justify-content: flex-start;
}

.idx-hdr-svg {
    height: 100%;
    fill: currentColor;
    width: 30px;
}

.idx-hdr-svg:hover {
    fill: #9dbb88;
}

div svg {
    display: flex;
}

header nav a {
    padding: 0 15px;
    height: 100%;
}

header nav a:hover {
    border-radius: 5px;
    background-color: #404040;
    color: #9dbb88;
}

#atf {
    background-image: url("assets/background-photo.jpg");
}

h1 {
    font-size: 2rem;
}

.idx-center-center {
    margin-top: 20px;
}

#idx-center-spacebetween {
    justify-content: center;
}

button {
    margin-top: 40px;
}

h3 {
    margin-top: 0.5rem;
}

#nav-mobile {
    display: none;
}