html, body, nav, a {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

a {
    flex-grow: 1;
    height: 80px;
    width: 100%;
    padding: 30px 0;
}

a:first-child {
    margin-bottom: 1px;
}

a:nth-child(2) {
    margin-bottom: 1px;
}

a:nth-child(3) {
    margin-bottom: 1px;
}

a:last-child {
    margin-top: 1px;
}