body {
    width: 80%;
    margin: 0 auto;
    border: 5px solid black;
}

div {
    width: 15rem;
    height: 15rem;
    margin: 0 auto;
    border: 5px solid rgba(255, 69, 0, 1);
    background-color: rgba(255, 69, 0, .5);
}

div:nth-child(2) {
    position: relative;
    top: 20px;
    left: 40px;
}