/*exercise 1*/
/*html {*/
    /*font-family: serif;*/
/*}*/

/*exercise 2*/
/*html {*/
    /*font-family: sans-serif;*/
/*}*/

/*exercise 3*/
html {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

p::first-line {
    font-weight: 700;
}