.container {
    border: .2rem solid red;
    display: flex;
    flex-flow: column wrap;
    height: 26rem;
}

.item {
    width: 6rem;
    height: 4rem;
    margin: .7rem;
    border: .07rem solid red;
    background-color: lightgray;
    text-align: center;
    flex-grow: 1;
}