.container {
    display: flex;
    flex-flow: row wrap;
    border: .2rem solid red;
    justify-content: space-between;
}

.item {
    /*flex-grow: 1;*/
    width: 8rem;
    height: 6rem;
    margin: .7rem;
    border: .07rem solid red;
    background-color: lightgray;
    text-align: center;
}