.container {
    display: flex;
    flex-flow: column wrap;
    border: .2rem solid red;
    height: 46rem;
    align-content: flex-end;
}

.item {
    flex-grow: 1;
    width: 8rem;
    height: 7rem;
    margin: .8rem;
    border: .07rem solid red;
    background-color: lightgray;
    text-align: center;
}

