body {
    display: flex;
    height: 36rem;
    border: 5px solid red;
}

div {
    height: 100px;
    margin: 1em;
    border: 1px solid red;
    background-color: darkgray;
    text-align: center;
    flex-grow: 1;
}

#tres {
    flex-grow: 4;
}