div {
    width: 6rem;
    height: 3rem;
    border: .1rem solid black;
    border-radius: 1.5rem;
    display: inline-block;
}

.red {
    background-color: red;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}
.blue {
    background-color: blue;
}
